@import '../../styles/vars.scss';

.button {
  padding: $d_small;
  text-align: center;

  border-radius: 2px;
  border: unset;

  font-size: $fs_normal;
  font-weight: $fw_regular;
  color: $c_contrast;
  cursor: pointer;
  background-color: $c_primary;

  box-shadow: 0 1px 4px 0 #020e1e;
  transition-property: background-color, box-shadow;
  transition-timing-function: $easing;
  transition-duration: $duration;

  &:hover,
  &:focus,
  &:active {
    background-color: $c_secondary;
  }

  &:disabled {
    background-color: rgba($c_primary, 0.32);
    cursor: default;
  }

  &:active,
  &:disabled {
    box-shadow: unset;
  }

  &--small {
    padding: $d_tiny;
    font-size: $fs_small;
  }
}
