@import '../../styles/vars.scss';

.button {
  padding: $d_small;
  text-align: center;

  font-size: $fs_normal;
  font-weight: $fw_regular;
  cursor: pointer;
  background-color: $c_contrast;
  border-color: $c_secondary;
  border-radius: $d_tiny;

  transition-property: background-color;
  transition-timing-function: $easing;
  transition-duration: $duration;

  &:hover,
  &:focus,
  &:active {
    background-color: $c_secondary;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: rgba($c_contrast, 0.32);
    cursor: default;
  }

  &--primary {
    background-color: $c_primary;
    border-color: $c_primary;
    color: $c_contrast;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($c_primary, 0.8);
      border-color: rgba($c_primary, 0.8);
    }
  }

  &--small {
    padding: $d_tiny;
    font-size: $fs_small;
  }
}
