// COLORS
$c_main: #000000;
$c_contrast: #ffffff;
$c_warn: #ff0638;
$c_success: #81e61b;
$c_primary: #40a9ff;
$c_secondary: #d9d9d9;
$c_info: #ffdb4d;

// FONT SIZES
$fs_tiny: 9px;
$fs_small: 10px;
$fs_normal: 12px;
$fs_xnormal: 14px;
$fs_medium: 16px;
$fs_big: 20px;

// FONT WEIGHTS
$fw_regular: 400;
$fw_bold: 700;

// DIMENSIONS
$d_tiny: 4px;
$d_small: 8px;
$d_normal: 16px;
$d_xnormal: 24px;
$d_medium: 32px;

// BREAKPOINTS
$lg: 1200px;
$md: 960px;
$sm: 720px;
$xs: 480px;

// ANIMATION
$easing: ease;
$duration: 0.2s;
