// COLORS
$c_main: #000000;
$c_contrast: #ffffff;
$c_warn: #ff0638;
$c_success: #81e61b;
$c_primary: #91b7e2;
$c_secondary: #818c9b;
$c_info: #ffdb4d;

// FONT SIZES
$fs_normal: 12px;
$fs_xnormal: 14px;
$fs_medium: 16px;
$fs_big: 20px;

// FONT WEIGHTS
$fw_regular: 400;
$fw_bold: 700;

// DIMENSIONS
$d_tiny: 5px;
$d_small: 10px;
$d_normal: 15px;
$d_xnormal: 20px;
$d_medium: 40px;

// BREAKPOINTS
$lg: 1200px;
$md: 960px;
$sm: 720px;
$xs: 480px;

// ANIMATION
$easing: ease;
$duration: 0.2s;
