@import '../../styles/vars.scss';
.form {
  &_item {
    width: 200px;
    &--author {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $d_normal;
  }
}
