@import '../../styles/vars.scss';
.bookCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: $card_height;
  width: $card_width;
  padding: $d_xnormal;
  border: 1px solid;
  border-radius: $d_tiny;
  border-color: rgba($c_main, 0.05);

  transition-property: background-color;
  transition-timing-function: $easing;
  transition-duration: $duration;
  cursor: pointer;

  &:hover {
    border-color: rgba($c_main, 0.09);
    box-shadow: 0 2px 8px rgba($c_main, 0.09);
  }

  &_title {
    color: $c_primary;
  }

  &_info {
    font-size: $fs_normal;
    color: rgba($c_main, 0.8);
  }

  &_infoValue {
    font-size: $fs_normal;
    font-weight: $fw_bold;
  }

  &_imgContainer {
    width: 60px;
    height: 120px;
  }
  &_img {
    object-fit: contain;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
}
