@import '../../styles/vars.scss';
.bookCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  width: 200px;
  padding: 20px;
  background-color: palevioletred;

  transition-property: background-color;
  transition-timing-function: $easing;
  transition-duration: $duration;
  cursor: pointer;

  &_img {
    object-fit: contain;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &:hover {
    background-color: tan;
  }
}
